@model IEnumerable<Grupp29.Models.PlantList>

@{
    ViewBag.Title = "Index";
}
@using Grupp29.Controllers

@if (Request.IsAuthenticated)
{

    <h2>Hitta växt</h2>

    <p>
        @Html.ActionLink("Lägg till ny växt", "Create", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })
    </p>

    var Model1 = Model.OrderByDescending(c => c.PlantId);
    PlantListsController controller = new PlantListsController();

    using (Html.BeginForm())
    {
        <p>
            Filtrera efter kategori: @Html.DropDownList("SearchString", new SelectList(controller.GetCategories()), new { @id = "9999" })

            <input type="submit" value="Filtrera" class="btn btn-default" />
        </p>
    }

    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlantCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterNeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model1)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlantCategory)
        </td>
        <td>
            @if (item.PlantImg != null)
            {
                <div style="width=100%; height=100%;">
                    <img src="~/Image/@item.PlantImg" style="border: solid white 40px;" width="40%" height="40%">
                </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaterNeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PlantId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PlantId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PlantId })
        </td>
    </tr>
        }

    </table>
}
else
{
    <h2>
        Du måste logga in för att komma åt denna sida!
    </h2>
}
