@model IEnumerable<Grupp29.Models.PlantList>

@{
    ViewBag.Title = "Index";
}
@using Grupp29.Controllers

<link href="~/Css/StyleManage.css" rel="stylesheet" />


@if (Request.IsAuthenticated)
{

    <h2>Hitta växt</h2>

    //Borttagen pga admin-funktionen inte är klar
    @*<p>
        @Html.ActionLink("Lägg till ny växt", "Create", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })
    </p>*@

    var Model1 = Model.OrderByDescending(c => c.PlantId);
    PlantListsController controller = new PlantListsController();

    using (Html.BeginForm())
    {
        <p>
            Filtrera efter kategori: @Html.DropDownList("SearchString", new SelectList(controller.GetCategories()), new { @id = "9999" })

            <input type="submit" value="Filtrera" class="btn btn-default" />
        </p>
    }

    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlantCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterNeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantCategory)
                </td>
                <td>
                    @if (item.PlantImg != null)
                    {
                        <div style="width=100%; height=100%;">
                            <img src="~/Image/@item.PlantImg" style="border: solid white 40px;" width="40%" height="40%">
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaterNeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                @*Borttagen pga admin-funktionen inte är klar*@
                <td>
                    @*@Html.ActionLink("Redigera", "Edit", new { id = item.PlantId }) |*@
                    @*@Html.ActionLink("Ta bort", "Delete", new { id = item.PlantId }, new { @style = "font-size:larger;color: darkblue;" })*@
                </td>
            </tr>
        }

    </table>
}
else
{
    <h2>
        Du måste registrera ett konto eller logga in för att komma åt denna sida!
    </h2>
}
