@model IEnumerable<Grupp29.Models.PlantList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })
</p>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlantImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterNeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PlantImg)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlantName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.WaterNeed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.PlantId }) |
        @Html.ActionLink("Details", "Details", new { id = item.PlantId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PlantId })
    </td>
</tr>
}

</table>
