@model IEnumerable<Grupp29.Models.RoomList>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Min sida";

}

<h3>Min lista</h3>

@*@using Grupp29.Controllers*@
 @{  var isLoggedIn = Request.IsAuthenticated;
         var userId = isLoggedIn ? User.Identity?.GetUserId() : null;
     }
   
<p>
    @Html.ActionLink("Lägg till lista", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.listName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.listName)
            </td>
            <td>
                @Html.ActionLink("Redigera", "Edit", new { id = item.id }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.id }) |*@
                @Html.ActionLink("Ta bort", "Delete", new { id = item.id })
            </td>
        </tr>


    }
</table>
    @*}
    else
    {
<h1>Du måste logga in för att komma åt denna sida!</h1>
    }*@



