@model Grupp29.Models.Forum

@{
    ViewBag.Title = "Details";
}


@using Grupp29.Controllers
<br />
<div class="forumPost">
    <div class="forumPostContent">
        @{
            var time = ForumsController.GetDateFromDateTime(Model.DateTime);
            //var imageSrc = FormalBlogPostsController.GetProfilePictureFromUsername(Model.creator);
            var Name = ForumsController.GetNameFromUsername(Model.Creator);

        }
        <h3>@Html.DisplayFor(mode => Model.Title)<span class="authorTime">@time</span></h3>
        <h6>@Html.DisplayFor(model => Model.Category)</h6>
        <div class="profile-thumbnail" style="float:right;">
            @*<span><img src="~/Image/@imageSrc" style="height:70px; width:70px;"></span>*@
            <br />
            <p style="margin-left: 10px;">@Name</p>
        </div>
        <p style="white-space: pre-line">@Html.DisplayFor(modelItem => Model.Entry)</p>
        <br />

    </div>
    <div class="blogButtons">
        @if (Model.FileName != null)
        {
            <img src="~/ForumPostUploads/@Model.FileName" @*download>@Model.FileName*@ style="border: solid white 40px;" width="40%" height="40%">
            <br />
        }

        @if (Model.Creator.Equals(User.Identity.Name))
        {

            <p>
                @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }) | @Html.ActionLink("Ta bort", "Delete", new { id = Model.Id })
            </p>
        }
        @*else if (!Model.creator.Equals(User.Identity.Name) && User.IsInRole("Admin"))
        {

            <p>
                @Html.ActionLink("Ta bort", "Delete", new { id = Model.id })
            </p>
        }*@
        else
        {
            <br />
        }
        @{
            ForumPostCommentsController commentsController = new ForumPostCommentsController();
        }
        @foreach (var comment in commentsController.GetComments(Model.Id))
        {
            var commentTime = ForumsController.GetDateFromDateTime(comment.DateTime);
            var Names = ForumsController.GetNameFromUsername(comment.Author);
    <div class="forumPostComment" id="@Model.Id">
        @*<p style="margin-left: 10px;">@Names</p>*@ 


        <p>@comment.CommentText</p>
        <p class="forumPostCommentAuthor">@Names | @commentTime</p>
    </div>

        }

        @{ int id = Model.Id;
            int textBoxId = id + 999;
            string textBoxIdString = textBoxId.ToString();}
        @Html.TextArea(textBoxIdString, null, new { placeholder = "Skriv en kommentar", id = "1", rows = "3", cols = "1000" })


        <button id="@Model.Id" onClick="reply_click(this.id)">Skicka</button>

    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script>
       var urlpath = '@Url.Action("CreateComment", "ForumPostComments")';

    </script>
    <script type="text/javascript">

            $(function () {



                $('#btnStart').on('click', function () {
                    console.log(x);
            });
            });
            function reply_click(clicked_id) {
                var clicked_id_int = parseInt(clicked_id);
                var commentId = clicked_id_int += @textBoxId - 2;
                console.log(commentId)
                var commentTxt = document.getElementById("1").value;


                console.log(clicked_id);
                $.ajax({
                    type: 'POST',
                    url: urlpath,
                    data: JSON.stringify({ ForumPostId: clicked_id, CommentText: commentTxt }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                })

                location.reload();
            }
    </script>
</div>

<p>

    @Html.ActionLink("Tillbaka till inlägg", "Index")
</p>


