@model IEnumerable<Grupp29.Models.Forum>

@{
    ViewBag.Title = "Index";
}
@using Grupp29.Controllers

<link href="~/Css/StyleForums.css" rel="stylesheet" />


@if (Request.IsAuthenticated)
{
    <h2>Forum</h2>
    <p>
        @Html.ActionLink("Skapa nytt inlägg", "Create", null, new { @style = "font-size:larger;color: darkblue;" })
    </p>

    var Model1 = Model.OrderByDescending(c => c.Id);

    ForumsController controller = new ForumsController();

    using (Html.BeginForm())
    {
        <p>
            Filtrera efter kategori: @Html.DropDownList("SearchString", new SelectList(controller.GetCategories()), new { @id = "9999" })

            <input type="submit" value="Filtrera" class="btn btn-default" />
        </p>
    }

    foreach (var ForumPost in Model1)
    {
        var ForumPostIdString = ForumPost.Id.ToString();
        <div class="forumPost" id=@ForumPostIdString>

    <div class="forumPostContent">
        @{
            var time = ForumsController.GetDateFromDateTime(ForumPost.DateTime);
            var imageSrc = ForumsController.GetProfilePictureFromUsername(ForumPost.Creator);
            var Name = ForumsController.GetNameFromUsername(ForumPost.Creator);
        }

        <h3>@Html.DisplayFor(modelItem => ForumPost.Title)<span style="float: right; font-size: 70%;">@time</span></h3>
        <h6>@Html.DisplayFor(modelItem => ForumPost.Category)</h6>
        <div class="profile-thumbnail" style="float:right;">
            <span><img src="~/ProfileImage/@imageSrc" style="height:70px; width:70px;"></span>
                <br />
                <p style="margin-left: 10px;">@Name</p>
        </div>
        <p style="white-space: pre-line">@Html.DisplayFor(modelItem => ForumPost.Entry)</p>

                <br />
            </div>
            <div class="blogButtons">
                @if (ForumPost.FileName != null)
                {
                    <div style="width=100%; height=100%;">
                        <img src="~/ForumPostUploads/@ForumPost.FileName" style="border: solid white 40px;" width="40%" height="40%">
                    </div>
                    @*<a href="~/FormalBlogPostUploads/@ForumPost.FileName" download>@ForumPost.FileName</a>*@
                }
                @if (ForumPost.Creator.Equals(User.Identity.Name))
                {

                    <p>
                        @Html.ActionLink("Se kommentarer", "Details", new { id = ForumPost.Id }, new { @style = "font-size:larger;color: darkblue;" }) | @Html.ActionLink("Redigera", "Edit", new { id = ForumPost.Id }, new { @style = "font-size:larger;color: darkblue;" }) | @Html.ActionLink("Ta bort", "Delete", new { id = ForumPost.Id }, new { @style = "font-size:larger;color: darkblue;" })
                    </p>
                }
                @*else if (!ForumPost.Creator.Equals(User.Identity.Name) && User.IsInRole("Admin"))
                    {
                        <p>
                            @Html.ActionLink("Se inlägg", "Details", new { id = BlogPost.id }) | @Html.ActionLink("Ta bort", "Delete", new { id = BlogPost.id })
                        </p>
                    }*@
                else
                {
                    <p>
                        @Html.ActionLink("Kommentera inlägg", "Details", new { id = ForumPost.Id }, new { @style = "font-size:larger;color: darkblue;" })
                    </p>
                }

            </div>

        </div>
    }

}
else
{
    <h2>Du måste logga in för att komma åt denna sida!</h2>
}

